[user]
	name = Jean-David Fiquet
	email = jdfiquet2@gmail.com
[diff]
	renames = true
	submodule = log
        tool = kitty
	guitool = kitty.gui

[diff "sopsdiffer"]
	textconv = sops -d

[difftool]
    prompt = false
    trustExitCode = true

[difftool "kitty"]
    cmd = kitten diff $LOCAL $REMOTE

[difftool "kitty.gui"]
    cmd = kitten diff $LOCAL $REMOTE

[push]
	default = current

[alias]
	df = difftool --no-symlinks --dir-diff
	co = checkout
	ci = commit -S
	st = status
	br = branch
	smf = submodule foreach
	sm = submodule
	chlg = log master..release --pretty=format:'- %s' --reverse
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	hist = log --graph --date=short --pretty=tformat:'%Cred%h%Creset %Cgreen%ad%Creset | %C(auto)%d%Creset %s %Cgreen(%an)%Creset' --all -n20
	hista = log --graph --date=short --pretty=tformat:'%Cred%h%Creset %Cgreen%ad%Creset | %C(auto)%d%Creset %s %Cgreen(%an)%Creset' --all
	graph = log --oneline --graph

[core]
	editor = vim
	eol = lf

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[pull]
	rebase = true
