[user]
	name = Jean-David Fiquet
	email = jdfiquet2@gmail.com
[diff]
	renames = true

[color]
	ui = auto

[push]
	default = current

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	mergef = merge --ff-only
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	hist = log --graph --date=short --pretty=tformat:'%Cred%h%Creset %Cgreen%ad%Creset | %C(auto)%d%Creset %s %Cgreen(%an)%Creset' --all -n20
	hista = log --graph --date=short --pretty=tformat:'%Cred%h%Creset %Cgreen%ad%Creset | %C(auto)%d%Creset %s %Cgreen(%an)%Creset' --all
	graph = log --oneline --graph
	type = cat-file -t
	dump = cat-file -p
[core]
	editor = emacs -nw
