.git-blame {
  width: 450px;
}

::-webkit-scrollbar { 
    display: none; 
}

atom-text-editor::shadow {

  // .line.highlight-line {
  //   background: rgb(7, 54, 66) !important;
  // }

  
  .vertical-scrollbar {
    height: 0px;
    visibility: hidden;
  }

  .scrollbar-content {
    height: 0px;
    visibility: hidden;
  }
  
  .invisible-character {
    
    color: rgba(101, 123, 131, 0.5);
    
  }
  // 
  // .gutter {
  //   background-color: #002b36;
  // }
  // 
  // .line-number.cursor-line-no-selection {
  //   background-color: #073642;
  // }

  
}
